<!DOCTYPE html>
<html xmlhs:th="http://www.thymeleaf.org" lang="en" xmlns:xmlhs="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Page</title>
    <link th:href="@{/css/demo.css}" rel="stylesheet" />
</head>
<body>

<p th:text="'Time on the server is ' + ${theDate}" class="funny" ></p>

</body>
</html>